<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TeacherController</servlet-name>
        <servlet-class>Controller.TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourse</servlet-name>
        <servlet-class>Controller.ListCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupController</servlet-name>
        <servlet-class>Controller.GroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentController</servlet-name>
        <servlet-class>Controller.ListStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTimeTableStudentController</servlet-name>
        <servlet-class>Controller.ViewTimeTableStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>Controller.Student.ViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileTeacherController</servlet-name>
        <servlet-class>Controller.Teacher.ViewProfileTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendance</servlet-name>
        <servlet-class>Controller.Teacher.TakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubjectStudyingController</servlet-name>
        <servlet-class>Controller.Student.ListSubjectStudyingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceController</servlet-name>
        <servlet-class>Controller.Student.ViewAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListGroupController</servlet-name>
        <servlet-class>Controller.Student.ViewListGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroupListTeachingController</servlet-name>
        <servlet-class>Controller.Teacher.ViewGroupListTeachingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeTeacher</servlet-name>
        <servlet-class>Controller.HomeTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSessionDateController</servlet-name>
        <servlet-class>Controller.Teacher.ViewSessionDateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherController</servlet-name>
        <url-pattern>/TeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentController</servlet-name>
        <url-pattern>/ListStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTimeTableStudentController</servlet-name>
        <url-pattern>/ViewTimeTableStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/ViewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileTeacherController</servlet-name>
        <url-pattern>/ViewProfileTeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendance</servlet-name>
        <url-pattern>/TakeAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubjectStudyingController</servlet-name>
        <url-pattern>/ListSubjectStudyingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceController</servlet-name>
        <url-pattern>/ViewAttendanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListGroupController</servlet-name>
        <url-pattern>/ViewListGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroupListTeachingController</servlet-name>
        <url-pattern>/ViewGroupListTeachingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeTeacher</servlet-name>
        <url-pattern>/HomeTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSessionDateController</servlet-name>
        <url-pattern>/ViewSessionDate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
